@model List<string>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-4">
    <div class="row">
        <!-- Log Section with Scrolling -->
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div id="logContainer" class="p-3 bg-light border rounded" style="height: 300px; overflow-y: auto;">
                        @foreach (var log in Model)
                        {
                            <div>@log</div>
                        }
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="d-flex justify-content-between gap-2">
                        <button onclick="sendCommand('ConnectCmd')" class="btn btn-success">Connect Robot</button>
                        <button onclick="sendCommand('HighPowerOn')" class="btn btn-success">High Power On</button>
                        <button onclick="sendCommand('PowerDown')" class="btn btn-danger">Power Down</button>
                        <button onclick="sendCommand('ResetRobot')" class="btn btn-warning">Reset</button>
                    </div>
                </div>
                <div class="col-md-12 mt-2">
                    <div class="d-flex justify-content-between gap-2">
                        <button onclick="sendCommand('RobotManagerPresenter')" class="btn btn-secondary">Robot Manager</button>
                        <button onclick="sendCommand('IoMonitorPresenter')" class="btn btn-secondary">I/O Monitor</button>
                        <button onclick="sendCommand('PointTeachingPresenter')" class="btn btn-secondary">Point Teaching</button>
                        <button onclick="sendCommand('ControllerToolsPresenter')" class="btn btn-secondary">Controller Tools</button>
                    </div>
                </div>
                <div class="col-md-12 mt-2">
                    <div style="display: flex; justify-content: space-between; gap: 10px;">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="recordSpray" onchange="updateProcessOptions()">
                            <label class="form-check-label" for="recordSpray">Record Spray</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="spray" onchange="toggleSprayOptions(); updateProcessOptions()">
                            <label class="form-check-label" for="spray">Spray</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sprayType" value="fast" id="fastSpray" onchange="updateProcessOptions()" disabled>
                            <label class="form-check-label" for="fastSpray">Fast Spray</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sprayType" value="slow" id="slowSpray" onchange="updateProcessOptions()" disabled>
                            <label class="form-check-label" for="slowSpray">Slow Spray</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="blot" onchange="toggleBlotOptions(); updateProcessOptions();">
                            <label class="form-check-label" for="blot">Blot</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="blotType" value="back" id="backBlot" onchange="updateProcessOptions()" disabled>
                            <label class="form-check-label" for="backBlot">Back Blot</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="blotType" value="front" id="frontBlot" onchange="updateProcessOptions()" disabled>
                            <label class="form-check-label" for="frontBlot">Front Blot</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-2">
                    <div class="d-flex justify-content-between gap-2">
                        <input type="text" id="gridBoxName" class="form-control" placeholder="Grid Box Name" />
                        <input type="text" id="sampleName" class="form-control" placeholder="Sample Name" />
                        <input type="number" id="gridPosition" class="form-control" placeholder="Grid Position" min="1" max="8" onchange="fetchGridInfo()" />
                        <button class="btn btn-primary" onclick="updateGridInfo()">Save</button>
                    </div>
                </div>
                <div class="col-md-12 mt-2">
                    <div class="d-flex justify-content-between gap-2">
                        <button onclick="sendCommand('MoveToLoadTweezers')" class="btn btn-secondary">Load Tweezers</button>
                        <button onclick="sendCommand('MoveToSprayPosition')" class="btn btn-secondary">Spray Position</button>
                        <button onclick="sendCommand('PlungeProcess')" class="btn btn-secondary">Plunge Process</button>
                        <button onclick="storeGrid()" class="btn btn-secondary">Store Grid</button>
                    </div>
                </div>
                <div class="col-md-12 mt-2">
                    <form id="configForm" onsubmit="event.preventDefault(); updateConfig();">
                        <div class="d-flex justify-content-between gap-2">
                            <div class="form-group">
                                <select id="configVariable" class="form-control" onchange="fetchCurrentValue()" required>
                                    <option value="biojet_process.prep_delay">Prep Delay</option>
                                    <option value="biojet_process.spray_time">Spray Time</option>
                                    <option value="biojet_process.blot_time">Blot Time</option>
                                    <option value="biojet_process.clean_time">Clean Time</option>
                                    <option value="biojet_process.clean_cycles">Clean Cycles</option>
                                    <option value="biojet_process.timeout_blot_motion">Timeout Blot Motion</option>
                                    <option value="robot.gridStoreJumpParameters.command">Grid Store Jump Parameter (LimZ)</option>
                                    <option value="robot.defaultMotionParams.speed">Default Motion Speed</option>
                                    <option value="robot.defaultMotionParams.accel">Default Motion Acceleration</option>
                                    <option value="robot.defaultMotionParams.decel">Default Motion Deceleration</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="number" id="configValue" class="form-control" required />
                            </div>
                            <button type="submit" class="btn btn-primary">Update Value</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Serial Port and Sensor Data Section -->
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 mt-2">
                    <div id="messages" class="p-3 bg-light border rounded" style="height: 300px; overflow-y: auto;"></div>
                </div>
                <div class="col-md-12 mt-2">
                    <div class="d-flex justify-content-between gap-2">
                        <button onclick="startCommunication()" class="btn btn-success">Start Serial Log</button>
                        <button onclick="stopCommunication()" class="btn btn-danger">Stop Serial Log</button>
                        <button onclick="restartCommunication()" class="btn btn-warning">Restart Serial Log</button>
                    </div>
                </div>
                <div class="col-md-12 mt-2">
                    <div class="d-flex justify-content-between gap-2">
                        <select id="comPortSelect" class="form-control"></select>
                    </div>
                </div>
                <div class="col-md-12 mt-2">
                    <div class="d-flex justify-content-between gap-2">
                        <button onclick="startRecording()" class="btn btn-success">Start Recording</button>
                        <button onclick="stopRecording()" class="btn btn-danger">Stop Recording</button>
                        <button onclick="listRecordings()" class="btn btn-secondary">List Recordings</button>
                        <button onclick="downloadRecording()" class="btn btn-secondary">Download Recording</button>
                    </div>
                    <select id="recordingSelect" class="form-control mt-2"></select>
                </div>
                <div class="col-md-12 mt-2">
                    <div class="card bg-light border rounded p-3">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h5>Time:</h5>
                                <p id="time" class="mb-0"></p>
                            </div>
                            <div>
                                <h5>Temperature:</h5>
                                <p id="temperature" class="mb-0"></p>
                            </div>
                            <div>
                                <h5>Humidity:</h5>
                                <p id="humidity" class="mb-0"></p>
                            </div>
                            <div>
                                <h5>Pressure:</h5>
                                <p id="pressure" class="mb-0"></p>
                            </div>
                            <div>
                                <h5>IR Sensor:</h5>
                                <p id="irSensor" class="mb-0"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-2">
                    <div class="d-flex justify-content-between gap-2">
                        <button onclick="sendCommand('ConnectToCamera')" class="btn btn-success">Connect To Camera</button>
                        <button onclick="sendCommand('TakePicture')" class="btn btn-secondary">Take Picture</button>
                        <button onclick="sendCommand('SavePicture')" class="btn btn-secondary">Save Image</button>
                        <button onclick="listMedia()" class="btn btn-secondary">List Media</button>
                    </div>
                </div>
                <div class="col-md-12 mt-2">
                    <div class="d-flex justify-content-between gap-2">
                        <button onclick="displaySelectedImage()" class="btn btn-secondary">Display Image</button>
                        <button onclick="downloadSelectedImage()" class="btn btn-secondary">Download Image</button>
                        <button onclick="displaySelectedVideo()" class="btn btn-secondary">Display Video</button>
                        <button onclick="downloadSelectedVideo()" class="btn btn-secondary">Download Video</button>
                    </div>
                </div>
                <div class="col-md-12 mt-2">
                    <div class="d-flex justify-content-between gap-2">
                        <select id="imageSelect" class="form-control"></select>
                        <select id="videoSelect" class="form-control"></select>
                    </div>
                </div>
                <div class="col-md-12 mt-4">
                    <div class="d-flex justify-content-center align-items-center gap-2">
                        <div class="border border-dark-cyan" style="border-width: 2px;">
                            <img id="displayImage" src="~/duck.jpg" class="rounded" style="width: 300px; height: 300px; object-fit: cover;" />
                        </div>
                        <div class="border border-dark-cyan" style="border-width: 2px;">
                            <div class="position-relative" style="width: 300px; height: 300px; overflow: hidden;">
                                <video id="displayVideo" class="rounded" style="width: 100%; height: 100%; object-fit: cover;" autoplay loop muted>
                                    <source src="~/ducks.mp4" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                                <button class="btn btn-secondary position-absolute" style="bottom: 10px; right: 10px; width: 30px; height: 20px;">Play</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.11/signalr.min.js"></script>
<script>
    const logContainer = document.getElementById('logContainer');

    function logMessage(message) {
        const logContainer = document.getElementById('logContainer');
        const div = document.createElement('div');
        div.textContent = message;
        logContainer.appendChild(div);
        scrollToBottom();
    }

    function scrollToBottom() {
        logContainer.scrollTop = logContainer.scrollHeight;
    }

    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/logHub")
        .build();

    connection.on("ReceiveLog", function (log) {
        const div = document.createElement("div");
        div.textContent = log;
        logContainer.appendChild(div);
        scrollToBottom();
    });

    connection.on("ReceiveSensorData", function (sensorData) {
        console.log("Received data:", sensorData);
        const time = sensorData.time;
        document.getElementById('time').textContent = time;
        document.getElementById('temperature').textContent = sensorData.temperature + ' °C';
        document.getElementById('humidity').textContent = sensorData.humidity + ' %';
        document.getElementById('pressure').textContent = sensorData.pressure + ' hPa';
        document.getElementById('irSensor').textContent = sensorData.irSensorState;
        addLogEntry(time, sensorData);

        if (recording) {
            recordedData.push({ time, ...sensorData });
        }
    });

    connection.start().catch(function (err) {
        return console.error(err.toString());
    });

    function sendCommand(command) {
        fetch(`/api/Robot/${command}`, {
            method: 'POST'
        }).then(response => {
            if (response.ok) {
                logMessage(`${command} command executed successfully.`);
            } else {
                logMessage(`Failed to execute ${command} command.`);
            }
        }).catch(error => {
            console.error('Error:', error);
            logMessage(`Error executing ${command} command.`);
        });
    }

    function updateProcessOptions() {
        const blotChecked = document.getElementById('blot').checked;
        const sprayChecked = document.getElementById('spray').checked;

        const options = {
            RecordSpray: document.getElementById('recordSpray').checked,
            RpiRecordSpray: document.getElementById('rpiRecordSpray')?.checked || false,
            Spray: sprayChecked,
            Spray_FastSpray: sprayChecked ? document.getElementById('fastSpray').checked : false,
            Spray_SlowSpray: sprayChecked ? document.getElementById('slowSpray').checked : false,
            SonicateTweezers: document.getElementById('sonicateTweezers')?.checked || false,
            Blot: blotChecked,
            Blot_BackBlot: blotChecked ? document.getElementById('backBlot').checked : false,
            Blot_FrontBlot: blotChecked ? document.getElementById('frontBlot').checked : false
        };

        fetch('/api/Robot/UpdateProcessOptions', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(options)
        }).catch(error => console.error('Error updating options:', error));
    }

    function toggleBlotOptions() {
        const blotChecked = document.getElementById('blot').checked;
        document.getElementById('backBlot').disabled = !blotChecked;
        document.getElementById('frontBlot').disabled = !blotChecked;
        if (!blotChecked) {
            document.getElementById('backBlot').checked = false;
            document.getElementById('frontBlot').checked = false;
        }
    }

    function toggleSprayOptions() {
        const sprayChecked = document.getElementById('spray').checked;
        document.getElementById('fastSpray').disabled = !sprayChecked;
        document.getElementById('slowSpray').disabled = !sprayChecked;
        if(!sprayChecked){
            document.getElementById('fastSpray').checked = false;
            document.getElementById('slowSpray').checked = false;
        }
    }

    function updateGridInfo() {
        const gridBoxName = document.getElementById('gridBoxName').value;
        const sampleName = document.getElementById('sampleName').value;
        const gridPosition = document.getElementById('gridPosition').value;

        fetch('/api/Robot/GetConfig')
            .then(response => response.json())
            .then(config => {
                const gridLocationIndex = config.robot.locations.findIndex(loc => loc.name === `GridStore${gridPosition}`);
                if (gridLocationIndex !== -1) {
                    config.robot.locations[gridLocationIndex].name = gridBoxName;
                    config.robot.locations[gridLocationIndex].sampleName = sampleName;
                    config.robot.locations[gridLocationIndex].point = parseInt(gridPosition);
                }

                // Send the updated configuration back to the server
                fetch('/api/Robot/UpdateConfig', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(config)
                })
                    .then(response => {
                        if (response.ok) {
                            logMessage('Grid information updated successfully.');
                        } else {
                            response.text().then(text => logMessage(`Failed to update grid information: ${text}`));
                        }
                    })
                    .catch(error => console.error('Error updating grid information:', error));
            })
            .catch(error => console.error('Error fetching existing configuration:', error));
    }

    function storeGrid() {
        fetch('/api/Robot/StoreGrid', { method: 'POST' })
            .then(response => {
                if (response.ok) {
                    logMessage('Grid stored successfully.');
                } else {
                    logMessage('Failed to store grid.');
                }
            })
            .catch(error => console.error('Error storing grid:', error));
    }

    function startCommunication() {
        const comPort = document.getElementById("comPortSelect").value;
        fetch('/api/Robot/StartSerialPort', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(comPort)
        }).then(response => {
            if (response.ok) {
                clearLogs();
                logMessage('Serial communication started.');
            } else {
                response.text().then(text => logMessage(`Failed to start communication: ${text}`));
            }
        });
    }

    function stopCommunication() {
        fetch('/api/Robot/StopSerialPort', { method: 'POST' })
            .then(() => logMessage('Serial communication stopped.'));
    }

    function fetchPorts() {
        fetch('/api/Robot/AvailableSerialPorts', { method: 'GET' })
            .then(response => response.json())
            .then(data => {
                const select = document.getElementById("comPortSelect");
                select.innerHTML = '';
                data.forEach(port => {
                    const option = document.createElement("option");
                    option.value = port;
                    option.textContent = port;
                    select.appendChild(option);
                });
            });
    }

    function fetchGridInfo() {
        const gridPosition = document.getElementById('gridPosition').value;
        if (!gridPosition) return;

        fetch('/api/Robot/GetConfig')
            .then(response => response.json())
            .then(config => {
                const gridLocation = config.robot.locations.find(loc => loc.name === `GridStore${gridPosition}`);
                if (gridLocation) {
                    document.getElementById('gridBoxName').value = gridLocation.name || '';
                    document.getElementById('sampleName').value = gridLocation.sampleName || '';
                    document.getElementById('gridPosition').value = gridLocation.point || '';
                } else {
                    document.getElementById('gridBoxName').value = '';
                    document.getElementById('sampleName').value = '';
                    document.getElementById('gridPosition').value = '';
                }
            })
            .catch(error => console.error('Error fetching grid info:', error));
    }


    function fetchCurrentValue() {
        const configVariable = document.getElementById('configVariable').value;

        fetch('/api/Robot/GetConfig')
            .then(response => response.json())
            .then(config => {
                let currentValue;

                switch (configVariable) {
                    case 'biojet_process.prep_delay':
                        currentValue = config.biojet_process.prep_delay;
                        break;
                    case 'biojet_process.spray_time':
                        currentValue = config.biojet_process.spray_time;
                        break;
                    case 'biojet_process.blot_time':
                        currentValue = config.biojet_process.blot_time;
                        break;
                    case 'biojet_process.clean_time':
                        currentValue = config.biojet_process.clean_time;
                        break;
                    case 'biojet_process.clean_cycles':
                        currentValue = config.biojet_process.clean_cycles;
                        break;
                    case 'biojet_process.timeout_blot_motion':
                        currentValue = config.biojet_process.timeout_blot_motion;
                        break;
                    case 'robot.gridStoreJumpParameters.command':
                        const limzMatch = config.robot.gridStoreJumpParameters.command.match(/LimZ\s*(-?\d+)/);
                        currentValue = limzMatch ? parseInt(limzMatch[1]) : 0;
                        break;
                    case 'robot.defaultMotionParams.speed':
                        currentValue = config.robot.defaultMotionParams.speed;
                        break;
                    case 'robot.defaultMotionParams.accel':
                        currentValue = config.robot.defaultMotionParams.accel;
                        break;
                    case 'robot.defaultMotionParams.decel':
                        currentValue = config.robot.defaultMotionParams.decel;
                        break;
                    default:
                        currentValue = 0;
                        break;
                }

                document.getElementById('configValue').value = currentValue;
            })
            .catch(error => console.error('Error fetching configuration:', error));
    }

    function updateConfig() {
        const configVariable = document.getElementById('configVariable').value;
        const configValue = parseInt(document.getElementById('configValue').value);

        fetch('/api/Robot/GetConfig')
            .then(response => response.json())
            .then(existingConfig => {
                switch (configVariable) {
                    case 'biojet_process.prep_delay':
                        existingConfig.biojet_process.prep_delay = configValue;
                        break;
                    case 'biojet_process.spray_time':
                        existingConfig.biojet_process.spray_time = configValue;
                        break;
                    case 'biojet_process.blot_time':
                        existingConfig.biojet_process.blot_time = configValue;
                        break;
                    case 'biojet_process.clean_time':
                        existingConfig.biojet_process.clean_time = configValue;
                        break;
                    case 'biojet_process.clean_cycles':
                        existingConfig.biojet_process.clean_cycles = configValue;
                        break;
                    case 'biojet_process.timeout_blot_motion':
                        existingConfig.biojet_process.timeout_blot_motion = configValue;
                        break;
                    case 'robot.gridStoreJumpParameters.command':
                        existingConfig.robot.gridStoreJumpParameters.command = `LimZ ${configValue}`;
                        break;
                    case 'robot.defaultMotionParams.speed':
                        existingConfig.robot.defaultMotionParams.speed = configValue;
                        break;
                    case 'robot.defaultMotionParams.accel':
                        existingConfig.robot.defaultMotionParams.accel = configValue;
                        break;
                    case 'robot.defaultMotionParams.decel':
                        existingConfig.robot.defaultMotionParams.decel = configValue;
                        break;
                }

                fetch('/api/Robot/UpdateConfig', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(existingConfig)
                })
                    .then(response => {
                        if (response.ok) {
                            logMessage('Configuration updated successfully.');
                        } else {
                            response.text().then(text => logMessage(`Failed to update configuration: ${text}`));
                        }
                    })
                    .catch(error => console.error('Error updating configuration:', error));
            })
            .catch(error => console.error('Error fetching existing configuration:', error));
    }

    function restartCommunication() {
        stopCommunication();
        clearLogs();
        startCommunication();
    }

    function clearLogs() {
        document.getElementById('messages').innerHTML = '';
    }

    function startRecording() {
        recording = true;
        fetch('/api/Robot/StartRecording', { method: 'POST' })
            .then(() => logMessage('Recording started.'));
    }

    function stopRecording() {
        recording = false;
        fetch('/api/Robot/StopRecording', { method: 'POST' })
            .then(() => logMessage('Recording stopped.'));
    }

    function listRecordings() {
        fetch('/api/Robot/ListRecordings')
            .then(response => response.json())
            .then(data => {
                const select = document.getElementById("recordingSelect");
                select.innerHTML = '';
                data.forEach(file => {
                    const option = document.createElement("option");
                    option.value = file;
                    option.textContent = file;
                    select.appendChild(option);
                });
            });
    }

    function downloadRecording() {
        const fileName = document.getElementById("recordingSelect").value;
        window.location.href = `/api/Robot/DownloadRecording/${fileName}`;
    }

    function addLogEntry(time, data) {
        const logContainer = document.getElementById('messages');
        const logEntry = document.createElement('div');
        logEntry.textContent = `${time} - Temperature: ${data.temperature} °C, Humidity: ${data.humidity} %, Pressure: ${data.pressure} hPa, IR Sensor: ${data.irSensorState}`;
        logContainer.appendChild(logEntry);
        logContainer.scrollTop = logContainer.scrollHeight;
    }

    function listhMedia() {
        fetch('/api/Robot/AvailableMedia')
            .then(response => response.json())
            .then(data => {
                const imageSelect = document.getElementById("imageSelect");
                const videoSelect = document.getElementById("videoSelect");
                imageSelect.innerHTML = '';
                videoSelect.innerHTML = '';

                data.images.forEach(file => {
                    const option = document.createElement("option");
                    option.value = file;
                    option.textContent = file;
                    imageSelect.appendChild(option);
                });

                data.videos.forEach(file => {
                    const option = document.createElement("option");
                    option.value = file;
                    option.textContent = file;
                    videoSelect.appendChild(option);
                });
            });
    }

    function downloadSelectedImage() {
        const fileName = document.getElementById("imageSelect").value;
        window.location.href = `/api/Robot/DownloadImage/${fileName}`;
    }

    function downloadSelectedVideo() {
        const fileName = document.getElementById("videoSelect").value;
        window.location.href = `/api/Robot/DownloadVideo/${fileName}`;
    }

    function displaySelectedImage() {
        const fileName = document.getElementById("imageSelect").value;
        document.getElementById("displayImage").src = `/Documents/camera-recordings/${fileName}`;
    }

    function displaySelectedVideo() {
        const fileName = document.getElementById("videoSelect").value;
        const videoElement = document.getElementById("displayVideo");
        videoElement.src = `/Documents/camera-recordings/${fileName}`;
        videoElement.load();
    }

    window.onload = function () {
        fetchCurrentValue()
        fetchPorts();
        listhMedia();
        fetchConfig();
        document.querySelectorAll('button').forEach(button => {
            button.addEventListener('click', function () {
                this.blur();
            });
        });
    };
</script>
